.top-seller-skeleton {
  margin-top: 2px;
  position: absolute;
  display: inline-block;
  width: 50px;
  height: auto;
  margin-left: 10px;
  z-index: 10;
}

.top-seller-skeleton__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-seller-skeleton__avatar-wrapper {
  position: relative;
}

.top-seller-skeleton__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.top-seller-skeleton__check {
  position: absolute;
  bottom: -4px;
  left: 35px;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  background: #8364e2;
  border: 2px solid white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.top-seller-skeleton__check i {
  color: white;
  font-size: 8px;
  line-height: 1;
}



.top-seller-skeleton__title {
  width: 90px;
  height: 20px;
  margin-bottom: 10px;
}

.top-seller-skeleton__price {
  width: 40px;
  height: 20px;
}

.top-seller-skeleton__rank,
.top-seller-skeleton__avatar,
.top-seller-skeleton__title,
.top-seller-skeleton__price {
  background: linear-gradient(
    90deg,
    #ececec 25%,
    #f5f5f5 50%,
    #ececec 75%
  );

  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}